button {
    cursor: pointer;
}

.login-controls {
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: fit-content;

    & button {
        min-width: 10rem;
    }
}
