button.btn {
    border: none;
    outline: 3px solid;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    transition: 0.4s all;

    &:hover {
        outline-width: 5px;

        &:disabled {
            background-color: transparent;
        }
    }

    &.primary {
        outline-color: #0077ff;

        &:hover {
            background-color: rgb(0 255 255 / 28%);
            &:disabled {
                background-color: transparent;
            }
        }

        &:disabled {
            outline-color: #0077ff5c;
            &:hover {
                background-color: transparent;
            }
        }
    }
}
