button.btn {
    border: none;
    outline: 3px solid;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    transition: 0.4s all;
}
button.btn:hover {
        outline-width: 5px;
    }
button.btn:hover:disabled {
            background-color: transparent;
        }
button.btn.primary {
        outline-color: #0077ff;
    }
button.btn.primary:hover {
            background-color: rgb(0 255 255 / 28%);
        }
button.btn.primary:hover:disabled {
                background-color: transparent;
            }
button.btn.primary:disabled {
            outline-color: #0077ff5c;
        }
button.btn.primary:disabled:hover {
                background-color: transparent;
            }
.input-group {
    position: relative;
    /* margin: 40px 0 20px; */
    width: 100%;
    margin: 2rem 0;
}
.input-group input {
        font-size: 1.2rem;
        padding: 10px 10px 10px 5px;
        display: block;

        /* this is a hack to fix the input width
        don't know why we need this */
        width: calc(100% - 1rem);

        border: none;
        border-bottom: 1px solid #757575;
    }
.input-group input:focus {
            outline: none;
            border-bottom: 4px solid #4285f4;
            /* filter: drop-shadow(3px 3px 4px black); */
        }
/* When input is...
          1. NOT empty
          2. NOT in focus
          3. NOT valid */
.input-group input:invalid:not(:focus):not(:placeholder-shown) {
            border-bottom: 4px solid red;
        }
.input-group label {
        color: #575757;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 15px;
        transition: 0.2s ease all;
    }
/* this part makes the `label` float */
/* input:valid ~ label, */
.input-group input:focus ~ label,
    
    .input-group input:not(:placeholder-shown) ~ label {
        top: -20px;
        font-size: 14px;
        /* color: black; */
        color: #4285f4;
    }
h1 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.nav.back svg {
        position: relative;
        bottom: 2px;
    }body {
    font-family: sans-serif
}

h2 {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
}

.login-controls {
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: calc(100% - 2rem);
}

.login-controls button {
        min-width: 10rem;
        max-width: 12rem;
        margin: 0 auto;
    }

form.register {
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: calc(100% - 2rem);
    align-items: flex-end;
}

form.register button {
        min-width: 10rem;
        max-width: 12rem;
        margin-right: 1rem;
    }
